* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

body {
	font-family: "PT Sans", sans-serif;
	line-height: 1.6;
	color: #fff;
	background: #1a1e26;
	font-size: 21px;
}

h1,
h2,
h3 {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 900;
}

h1 {
	text-align: center;
	font-size: 120px;
	line-height: 0.8;
}

h2 {
	font-size: 48px;
	line-height: 1;
}

a {
	color: #3669c9;
}

a:hover,
a:focus {
	color: #fff;
}

.btn {
	display: inline-block;
	padding: 0.5em 1.25em;
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	background-color: #3669c9;
}

.btn:hover,
.btn:focus {
	background: #3339c9;
}

.hero {
	text-align: left;
	padding: 14rem 0 25rem;
	background-image: url("../img/moon.jpg");
	background-size: cover;
}

section {
	padding: 5rem 0;
}

.container {
	width: 800px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.fury {
	color: red;
}

.cat-list {
	text-align: left;
}

.redirect-from-patch {
	margin: 100px 0px;
	text-align: center;
}

.cat {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
